<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script type="text/javascript"
            src="https://maps.google.com/maps/api/js?key=AIzaSyCTIn22N0OJ6j4PjvTkqi8ROqN_XhKZUyQ"></script>
    <script type="text/javascript" src="js/l-google.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="../Interactive_Map/js/csv-parser.min.js"></script>
    <script type="text/javascript" src="js/csv-parser.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>COVID-19 DataViz</title>
</head>

	<body>
		<header>
		</header>
		<main>
            <table class="layout">
                <tr>
                    <td class="cell size100" colspan="3" style="height: 5%;">
                        <div class="widget tittle">
                            Project 1 - B-YEP-600 - COVID-19 DATAVIZ
                        </div>
                    </td>
                    <td class="cell">
                        <div class="widget center">
                            Last updated (YYYY/MM/DD)
                            <div id="Lastup"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="cell size15" style="height: 10%;">
                        <div class="widget">
                            <div class="center">Total Confirmed</div>
                            <div id="confirmedTotal" class="confT"></div>
                        </div>
                    </td>
                    <td class="cell size55" rowspan="3">
                        <div class="widget pad5">
                            <div id="map"></div>
                        </div>
                    </td>
                    <td class="cell size15" rowspan="2">
                        <div class="widget scroll" style="min-height: 500px;">
                            <div class="center">Total Deaths</div>
                            <div id="deathsTotal" class="deadT"></div>
                            <div id="deathsList" style="padding-left: 15px;"></div>
                        </div>
                    </td>
                    <td class="cell size15" rowspan="2">
                        <div class="widget scroll">
                            <div class="center">Total Recovered</div>
                            <div id="recoveredTotal" class="recoT"></div>
                            <div id="recoveredList" style="padding-left: 15px;"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="cell" rowspan="2">
                        <div class="widget scroll">
                            <div class="center" style="padding: 0px 5px;">Confirmed Cases by Country/Region/Sovereignty</div>
                            <div id="confirmedList" style="padding-left: 15px;"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="cell" colspan="2">
                        <div class="widget">
                            <canvas id="graphWidget"></canvas>
                        </div>
                    </td>
                </tr>
            </table>
		</main>
	</body>

</html>

<script type="text/javascript" src="../Confirmed/js/Widget-confirmed.js"></script>
<script type="text/javascript" src="js/Widget-fulldeaths.js"></script>
<script type="text/javascript" src="js/map.js"></script>
<script type="text/javascript" src="js/Widget-lastup.js"></script>
<script type="text/javascript" src="js/Widget-confirmed.js"></script>
<script type="text/javascript" src="../Mondial-deaths/js/Widget-fulldeaths.js"></script>
<script type="text/javascript" src="js/Widget-recovered.js"></script>
<script type="text/javascript" src="js/Widget-graph.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>